# **DEEP LEARNING INDABAX CABO VERDE 2024**

### PRACTICAL SESSION: INTRODUCTION TO PYTHON FOR DATA SCIENCE

This session is designed for Google Colab and allows participants to practice Python fundamentals with their own code.

Session Goals:

- Learn basic Python syntax and concepts for data science.

- Explore data types, variables, loops, conditionals, functions, and libraries.

- Write and test code in a collaborative environment.

## 1. Setting Up in Google Colab

**Notebook Setup**

Run this cell to ensure the environment is ready:

In [ ]:
# Installer les bibliothèques nécessaires (Install required libraries)
# Ce code vérifie si des packages spécifiques sont déjà installés. (This code checks if specific packages are already installed.)
!pip install --quiet numpy pandas matplotlib scikit-learn

## 2. Python Basics
**Data Types and Variables**

Declare variables of different types and experiment:

In [ ]:
# Déclaration de variables (Variable declaration)
entier = ...  # Exemple d'un entier (Example of an integer)
decimal = ...  # Exemple d'un flottant (Example of a float)
chaine = "..."  # Exemple d'une chaîne de caractères (Example of a string)
booleen = ...  # Exemple d'un booléen (Example of a boolean)

# Afficher les types (Print variable types)
print(type(entier), type(decimal), type(chaine), type(booleen))

**Lists, Tuples, and Dictionaries**

In [ ]:
# Exemple de liste (Example of a list)
ma_liste = [...]
print("Liste:", ma_liste)

# Exemple de tuple (Example of a tuple)
mon_tuple = (...)
print("Tuple:", mon_tuple)

# Exemple de dictionnaire (Example of a dictionary)
mon_dict = {"nom": "...", "age": ..., "hauteur" : ...}
print("Dictionnaire:", mon_dict)

## 3. Loops and Conditionals

In [ ]:
# Condition if-else (If-else condition)
x = 10
if x > 5:
    print("x est supérieur à 5")  # (x is greater than 5)
else:
    print("x est inférieur ou égal à 5")  # x is less than or equal to 5

# Boucle for (For loop)
for i in range(5):
    print(f"Iteration {i}")

# Boucle while (While loop)
compteur = 0   # counter = 0
while compteur < 3:
    print(f"Compteur: {compteur}")
    compteur += 1

## 4. Functions

In [ ]:
# Définir une fonction (Define a function)
def salutation(nom):
    return f"Bonjour, {nom}!"

# Appeler la fonction (Call the function)
print(salutation("..."))

# Fonction avec des arguments par défaut (Function with default arguments)
def addition(a, b=5):
    return a + b

print(addition(10))  # Utilise la valeur par défaut de b (Uses the default value of b)
print(addition(10, 20))  # Fournit une valeur pour b (Provides a value for b)

## 5. Working with Libraries

**Numpy Example**

In [ ]:
import numpy as np

# Créer un tableau NumPy (Create a NumPy array)
tableau = np.array([1, 2, 3, ..., ...])
print("Tableau NumPy:", tableau)
print("Moyenne:", np.mean(tableau))

**Pandas Example**

In [ ]:
import pandas as pd

# Créer un DataFrame (Create a DataFrame)
donnees = {"Nom": ["...", "..."], "Age": [..., 30]}
df = pd.DataFrame(donnees)
print(df)

## 6. Data Visualization

In [ ]:
import matplotlib.pyplot as plt

# Créer un graphique simple (Create a simple plot)
x = [1, 2, 3, 4, 5,...]
y = [10, 20, 30, 40, 50,...]
plt.plot(x, y, label="Ligne")  # (Line)
plt.title("Exemple de graphique")  # (Example plot)
plt.xlabel("x")
plt.ylabel("y")
plt.legend()
plt.show()

## 7. Introduction to Machine Learning

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# import numpy as np

# Exemple de régression linéaire (Linear Regression Example)
X = np.array([[1], [2], [3], [4], [5]])
y = np.array([10, 20, 30, 40, 50])

# Diviser les données (Split the data)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créer et ajuster le modèle (Create and fit the model)
model = LinearRegression()
model.fit(X_train, y_train)
print("Coefficient:", model.coef_)
print("Intercept:", model.intercept_)